.headerContainer {
  background: var(--blue-3);
  height: 6.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 4rem;
  margin-bottom: 2rem;

  border-bottom: 1px solid var(--gray-100);
}
