#home-content {
  main {
    display: flex;
    max-width: 1600px;
    margin: 15rem auto 15rem auto;
    justify-content: center;

    div {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 8px;

        padding: 1rem;
        width: 14rem;
        height: 10rem;
        background-color: var(--blue-2);
        color: var(--gray-100);
        text-decoration: none;
        cursor: pointer;
        transition: filter 0.2s;
        transition: transform 0.2s;

        &:hover {
          filter: brightness(0.7);
          transform: scale(1.2);
        }
      }
    }
  }
}
